@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*

  @mixin breakpoint( $point ) {
    @if $point == pc {
      @media ( min-width: 768px ) and ( max-width:1199px) {
        @content ;
      }
    }
    @if $point == wide {
      @media ( min-width: 1200px ) {
        @content ;
      }
    }
    @if $point == sp-pc {
      @media ( max-width: 1119px ) {
        @content ;
      }
    }
    @if $point == pc-wide {
      @media ( min-width: 768px ) {
        @content ;
      }
    }
  }
  */
/* ヘッダー全般 */
/*.Header{
    width: 100%;
    display: flex;
    justify-content: space-between;  各アイテムを均等に配置し、最初のアイテムは先頭に寄せ、最後のアイテムは末尾に寄せる 
    background: $color--white;
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }*/
/* RTロゴ */
.Header p.Header_logo img {
  height: 30px;
  width: auto;
}

@media (min-width: 1200px) {
  .Header p.Header_logo img {
    height: auto;
  }
}

/* ハンバーガーメニューボタン */
/* 3枚目の背景画像の設定 */
.p-Top_Head {
  height: 300px;
  padding-bottom: 320px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bg-hero3.png");
  background-repeat: no-repeat;
  background-position: center -25px;
  background-size: cover;
  background-attachment: fixed;
}

/* 最初の説明文全体のところ */
.p-Top_Head_layer1 {
  /* ↓↓↓↓↓共通レイヤー↓↓↓↓↓ */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* ↑↑↑↑↑共通レイヤー↑↑↑↑↑ */
  justify-content: center;
  /* アイテムを中央に寄せる */
  padding-top: 80px;
  align-items: flex-end;
  /* フレックスアイテムを末尾にまとめる */
  background-image: url("../img/bg-hero1.png");
  background-repeat: no-repeat;
  background-position: center -30px;
  background-size: cover;
  z-index: 200;
  /* 「はじめまして」の文章のところ */
}

@media (min-width: 768px) {
  .p-Top_Head_layer1 {
    max-width: 530px;
    border-radius: 10px;
    padding: 43px 40px 19px;
  }
}

.p-Top_Head_layer1 p {
  color: #121212;
  font-size: 1.3rem;
  margin: .5em 0;
  font-weight: 700;
}

.p-Top_Head_layer1 p img {
  display: none;
}

@media (min-width: 768px) {
  .p-Top_Head_layer1 p img {
    display: block;
    height: auto;
  }
}

.p-Top_Head_layer2 {
  /* ↓↓↓↓↓共通レイヤー↓↓↓↓↓ */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* ↑↑↑↑↑共通レイヤー↑↑↑↑↑ */
  background-image: url("../img/bg-hero2.png");
  background-repeat: no-repeat;
  background-position: center -25px;
  background-size: cover;
}

.p-Philosophy {
  background-color: #000000;
  color: #FFFFFF;
  padding: 4em 0;
  margin: 0 10px;
}

.Philosophy_entry {
  margin-bottom: 2.5em;
}

.Philosophy_title p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  margin: .2em 0 0;
  font-weight: 700;
  font-size: 2.4rem;
}

.Philosophy_icon {
  display: flex;
  justify-content: center;
  /* アイテムを中央に寄せる */
  align-items: center;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  color: #000000;
  border: solid 6px #000000;
  border-radius: 50%;
  /* サークル */
  background: #FFFFFF;
  font-size: 100px;
}

.Philosophy_sentence {
  text-align: center;
  margin: .5em 0 0;
  line-height: 1.7;
  font-weight: 700;
}

/*  */
/* ハンバーガーメニューボタン */
.c-btn {
  display: block;
  /*ブロックレベルで表示*/
  width: 50px;
  /*幅*/
  height: 50px;
  /*高さ*/
  position: relative;
  /*通常の位置を基準とした相対的な配置*/
  z-index: 3;
  /*値が大きいものほど前面（手前）に表示される （0 が基準）*/
  border: none;
  /*線なし*/
}

.bar {
  width: 23px;
  height: 2px;
  display: block;
  /*ブロックレベルで表示*/
  position: absolute;
  /*絶対位置*/
  left: 50%;
  transform: translateX(-50%);
  /*X方向の子要素の半分戻る*/
  background-color: #2bb8d9;
}

/* 三本線のマージン指定 */
.bar_top {
  top: 15px;
}

.bar_mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 15px;
}

/* ボタンをクローズ */
.c-btn.close .bar_top {
  transform: translate(-50%, 10px) rotate(135deg);
  transition: transform .2s;
}

.c-btn.close .bar_mid {
  opacity: 0;
  transition: opacity .2s;
}

.c-btn.close .bar_bottom {
  transform: translate(-50%, -8px) rotate(-135deg);
  transition: transform .2s;
}

/*マンガでわかるボタン*/
p.c-btn-first {
  padding: 12px 18px;
  width: auto;
  /*幅*/
  height: auto;
  /*高さ*/
  margin: 0 10px 1em 5px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1;
  background-color: #2498b3;
  border: solid 1px #c3c3c3;
  margin: 1.3em 0 .5em;
}

p.c-btn-first a {
  color: #FFFFFF;
  font-size: 1.6rem;
}
/*# sourceMappingURL=style.css.map */