@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*

  @mixin breakpoint( $point ) {
    @if $point == pc {
      @media ( min-width: 768px ) and ( max-width:1199px) {
        @content ;
      }
    }
    @if $point == wide {
      @media ( min-width: 1200px ) {
        @content ;
      }
    }
    @if $point == sp-pc {
      @media ( max-width: 1119px ) {
        @content ;
      }
    }
    @if $point == pc-wide {
      @media ( min-width: 768px ) {
        @content ;
      }
    }
  }
  */
/* ヘッダー全般 */
.l-header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #FFFFFF;
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 0;
}

.l-header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

/* RTロゴ */
.l-header__title {
  margin: 10px;
}

@media (min-width: 1201px) {
  .l-header__title {
    margin: 0 0 0 21px;
  }
}

.l-header__title a {
  height: 30px;
  line-height: 1.3;
  display: flex;
  color: #131d34;
}

@media (min-width: 1201px) {
  .l-header__title a {
    height: 70px;
    font-weight: 900;
    align-items: center;
    line-height: 1.3;
  }
}

.l-header__title a span {
  display: none;
}

@media (min-width: 1281px) {
  .l-header__title a span {
    display: block;
    margin-left: 16px;
    white-space: nowrap;
    font-size: 1.4rem;
  }
  .l-header__title a span strong {
    font-size: 1.8rem;
  }
}

.l-header__title img {
  height: 30px;
  width: auto;
  vertical-align: bottom;
}

@media (min-width: 1201px) {
  .l-header__title img {
    height: auto;
    display: block;
  }
}

/* ハンバーガーメニューボタン */
@media (min-width: 1201px) {
  .c-button span {
    display: none;
  }
}

.p-gnavi {
  display: none;
}

.p-gnavi li {
  list-style: none;
}

@media (min-width: 1201px) {
  .p-gnavi {
    display: initial;
  }
}

.p-main {
  padding-top: 50px;
}

@media (min-width: 1201px) {
  .p-main {
    padding-top: 70px;
  }
}

/* 3枚目の背景画像の設定 */
.p-top-head {
  height: 300px;
  padding-bottom: 320px;
  position: relative;
  background-image: url("../img/bg-hero3.png");
  background-repeat: no-repeat;
  background-position: center -25px;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 767px) {
  .p-top-head {
    height: 650px;
    background-position: 50% 50%;
  }
}

/* 最初の説明文全体のところ */
.p-top-head__layer1 {
  /* ↓↓↓↓↓共通レイヤー↓↓↓↓↓ */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* ↑↑↑↑↑共通レイヤー↑↑↑↑↑ */
  background-image: url("../img/bg-hero1.png");
  background-repeat: no-repeat;
  background-position: center -30px;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* アイテムを中央に寄せる */
  align-items: flex-end;
  /* フレックスアイテムを末尾にまとめる */
  z-index: 200;
}

@media (min-width: 767px) {
  .p-top-head__layer1 {
    height: 650px;
    background-position: 50% 50%;
    background-size: auto;
    background-attachment: scroll;
    padding-top: 80px;
  }
}

@media (min-width: 767px) {
  .p-top-head__layer1 {
    align-items: flex-start;
    /* フレックスアイテムを先頭にまとめる */
  }
}

.p-top-head__layer2 {
  /* ↓↓↓↓↓共通レイヤー↓↓↓↓↓ */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* ↑↑↑↑↑共通レイヤー↑↑↑↑↑ */
  background-image: url("../img/bg-hero2.png");
  background-repeat: no-repeat;
  background-position: center -25px;
  background-size: cover;
}

@media (min-width: 767px) {
  .p-top-head__layer2 {
    background-position: 50% 50%;
    background-size: auto;
    background-attachment: scroll;
  }
}

.p-top-head__body {
  width: 100%;
  max-width: 100%;
  padding: 9px 0 13px;
  border-radius: 0;
  background-color: #FFFFFF;
  text-align: center;
  /* 「はじめまして」の文章のところ */
}

@media (min-width: 767px) {
  .p-top-head__body {
    width: auto;
    max-width: 530px;
    padding: 43px 40px 19px;
    border-radius: 10px;
  }
}

.p-top-head__body p {
  color: #121212;
  margin: .5em 0;
  font-size: 1.3rem;
  font-weight: 700;
}

@media (min-width: 767px) {
  .p-top-head__body p {
    margin: 1.3em 0 .5em;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.7;
    text-size-adjust: 100%;
  }
}

.p-top-head__body img {
  display: none;
}

@media (min-width: 767px) {
  .p-top-head__body img {
    width: 280px;
    height: auto;
    display: block;
    margin: auto;
    height: auto;
  }
}

.l-wrap {
  max-width: 100%;
  background-color: #000000;
}

@media (min-width: 1078px) {
  .l-wrap {
    padding-bottom: 4em;
  }
}

.p-philosophy {
  margin: 0 10px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  /* 積み重なるように配置する */
  justify-content: center;
  /* アイテムを中央に寄せる */
  align-items: center;
  color: #FFFFFF;
  font-weight: 700;
  padding: 4em 0 0;
}

@media (min-width: 767px) {
  .p-philosophy {
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    margin-top: -263px;
    z-index: 500;
  }
}

.p-philosophy__entry {
  margin: 0 2%;
  margin-bottom: 2.5em;
  width: auto;
}

@media (min-width: 767px) {
  .p-philosophy__entry {
    width: 29.33%;
  }
}

@media (min-width: 1078px) {
  .p-philosophy__entry {
    margin: 0 50px;
    width: 229px;
  }
}

.p-philosophy__icon {
  display: flex;
  justify-content: center;
  /* アイテムを中央に寄せる */
  align-items: center;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  color: #000000;
  border: solid 6px #000000;
  border-radius: 50%;
  /* サークル */
  background: #FFFFFF;
  font-size: 100px;
}

.p-philosophy__title {
  margin: .2em 0 0;
  font-size: 2.4rem;
  display: block;
  justify-content: center;
  /* アイテムを中央に寄せる */
  text-align: center;
}

.p-philosophy__sentence {
  justify-content: center;
  /* アイテムを中央に寄せる */
  margin: .5em 0 0;
  line-height: 1.7;
  font-weight: 700;
}

/*  */
/* ハンバーガーメニューボタン */
.c-button {
  display: block;
  /*ブロックレベルで表示*/
  width: 50px;
  /*幅*/
  height: 50px;
  /*高さ*/
  position: relative;
  /*通常の位置を基準とした相対的な配置*/
  z-index: 3;
  /*値が大きいものほど前面（手前）に表示される （0 が基準）*/
  border: none;
  /*線なし*/
}

.bar {
  width: 23px;
  height: 2px;
  display: block;
  /*ブロックレベルで表示*/
  position: absolute;
  /*絶対位置*/
  left: 50%;
  transform: translateX(-50%);
  /*X方向の子要素の半分戻る*/
  background-color: #2498b3;
}

/* 三本線のマージン指定 */
.bar_top {
  top: 15px;
}

.bar_mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 15px;
}

/* ボタンをクローズ */
.c-button.close .bar_top {
  transform: translate(-50%, 10px) rotate(-45deg);
  transition: transform .2s;
}

.c-button.close .bar_mid {
  opacity: 0;
  transition: opacity .2s;
}

.c-button.close .bar_bottom {
  transform: translate(-50%, -8px) rotate(-135deg);
  transition: transform .2s;
}

.c-button.close {
  background-color: #2498b3;
}

.c-button.close .bar {
  background-color: #FFFFFF;
}

.p-gnavi {
  top: 50px;
  position: absolute;
}

/* アコーディオンメニュー全体のサイズ・位置 */
.p-gnavi__main {
  display: block;
  width: 100%;
  position: fixed;
}

@media (min-width: 1201px) {
  .p-gnavi__main {
    display: flex;
    line-height: 70px;
  }
}

.p-gnavi__main a {
  color: #121212;
}

/* ホバー領域 */
.p-gnavi__main-list {
  position: relative;
  /*相対位置への配置*/
  background-color: #FFFFFF;
  line-height: 50px;
  cursor: pointer;
  /*リンクカーソル*/
  /* メインメニューli */
}

.p-gnavi__main-list > a {
  font-weight: 700;
  /*太字*/
  padding: 10px;
}

.p-gnavi__main-list > a:hover {
  background-color: #f3fafb;
}

.p-gnavi__main-list > a:before {
  content: "";
  position: absolute;
  top: 25px;
  right: 13px;
  width: 24px;
  height: 2px;
  background: #121212;
  transform: translateY(-50%);
}

.p-gnavi__main-list > a:after {
  content: "";
  position: absolute;
  top: 25px;
  right: 24px;
  width: 2px;
  height: 24px;
  background: #121212;
  transform: translateY(-50%);
  transition: .3s;
}

/* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */
/* .p-gnavi__main-list.open > a:after { */
.p-gnavi__main-list.open:after {
  top: 25%;
  opacity: 0;
  transform: rotate(90deg);
}

/* ホバーしたら表示される領域（サブメニュー） */
.p-gnavi__sub {
  display: none;
  color: #121212;
  font-weight: 400;
  background: #FFFFFF;
  line-height: 50px;
}

@media (min-width: 1201px) {
  .p-gnavi__sub {
    position: absolute;
  }
}

.p-gnavi__sub > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 25px;
  font-weight: 400;
}

.p-gnavi__sub:hover {
  background-color: #f3fafb;
}

/* マンガでわかるボタン */
p.c-button-first {
  width: auto;
  /*幅*/
  height: auto;
  /*高さ*/
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 700;
  background-color: #2498b3;
  border-color: #2498b3;
  line-height: 1;
  display: inline-block;
  border: solid 1px #c3c3c3;
}

@media (min-width: 767px) {
  p.c-button-first {
    padding: 24px 37px;
  }
}

p.c-button-first a {
  font-size: 1.6rem;
  color: #FFFFFF;
}

@media (min-width: 767px) {
  p.c-button-first a {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */