  /* ハンバーガーメニューボタン */
  .c-button{
    display: block;       /*ブロックレベルで表示*/
    width: 50px;          /*幅*/
    height: 50px;         /*高さ*/
    position: relative;   /*通常の位置を基準とした相対的な配置*/
    z-index: 3;           /*値が大きいものほど前面（手前）に表示される （0 が基準）*/
    border:none;          /*線なし*/
  }
  .bar{
    width: 23px;
    height: 2px;
    display: block;               /*ブロックレベルで表示*/
    position: absolute;           /*絶対位置*/
    left: 50%;      
    transform: translateX(-50%);  /*X方向の子要素の半分戻る*/
    background-color: $color--deep-blue;
  }

  /* 三本線のマージン指定 */
  .bar_top{
    top: 15px;
  }
  .bar_mid{
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 15px;
  }

  /* ボタンをクローズ */
  .c-button.close .bar_top{
    transform: translate(-50%, 10px) rotate(-45deg); // rotate：時計回り
    transition: transform .2s;
  }
  .c-button.close .bar_mid{
    opacity: 0;
    transition: opacity .2s;
  }
  .c-button.close .bar_bottom{
    transform: translate( -50%, -8px) rotate(-135deg);
    transition: transform .2s;
  }
  .c-button.close{
    background-color: $color--deep-blue;
    .bar{
      background-color: $color--white;
    }
  }


  /* 2021.05.04 整頓 開始 */

  /* nav */
  .p-gnavi{
    position: absolute; // 絶対配置を指定する値
    top: 50px;          // 表示位置を指定するために使うもの
    left: 0;            // 表示位置を指定するために使うもの（メニューの左寄せ）
    width: 100%;        // .p-gnavi__mainから引っ張ってきた

    @include breakpoint (width_1201){
      top: auto;
    }

    // ・を削除
    li{
      list-style: none;
    }
  }

  /* アコーディオンメニュー全体のサイズ・位置 */
  /* ul */
  .p-gnavi__main {
    display: block;       // メインメニューを縦に並べる
    
    @include breakpoint (width_1201){
      display: flex;      // メインメニューを横並び
      // flex-direction: row; // 縦並び
    }
    
    // メニュー内全てに反映される項目
    a{
      color: $color--sentence-black;  // 文字の色
    }
  }

  /* メインメニュー li ホバー領域*/
  .p-gnavi__main-list {
    display: block;       // メインメニューを縦に並べる
    position: relative;                 /*相対位置への配置*/
    background-color: $color--white;
    //line-height: 50px;
    cursor: pointer;  /*リンクカーソル*/

    /* サブメニューにまで影響があるのでコメントアウト */
    // @include breakpoint (width_1201){
    //   line-height: 70px;
    // }

    /* メインメニューli のみ*/
    > a{
      display: block;     // 有効にするとホバーは当たるけど、余白が増える
      font-weight: 700;   // メインメニューliのみ、太字
      padding: 10px;
      
      // 1201px以上だと左右だけpaddingなし
      @include breakpoint ( width_1201 ){
        display: flex;        // ↓有効にするために設定
        align-items: center;  // メインメニューの中央寄せ
        padding: 0 15px;
        line-height: 70px;
      }

      &:hover {
        // ホバー時背景色
        background-color: $color--background-color-hover;
        @include breakpoint ( width_1201 ){
          background-color: $color--background-color-hover-deep;
        }
      }

      // プラスの横線
      &:before{
        content: "";
        position: absolute;
        top: 25px;
        right: 13px;
        width: 24px;
        height: 2px;
        background: $color--sentence-black;
        transform: translateY(-50%);
        // 1201px以上だと非表示
        @include breakpoint ( width_1201 ){
          content: none;
        }
      }
      // プラス縦線
      &:after{
        content: "";
        position: absolute;
        top: 25px;
        right: 24px;
        width: 2px;
        height: 24px;
        background: $color--sentence-black;
        transform: translateY(-50%);
        transition: .3s;
        // 1201px以上だと非表示
        @include breakpoint ( width_1201 ){
          content: none;
        }
      }
    }
  }

  /* ホバー時にopenクラスを付与（縦線を回転させて非表示に） */
  .p-gnavi__main-list.open > a:after {
    top: 25%;
    opacity: 0;
    transform: rotate(90deg);
  }
  
    
  /* サブメニュー ul （ホバーしたら表示される領域） */
  .p-gnavi__sub {
    display: none;
    background: $color--white;
    //line-height: 50px;

    @include breakpoint ( width_1201 ){
      position: absolute; // 絶対配置を指定する値
      background: $color--background-color-hover-sub;
      //top: 70px;          // 表示位置を指定するために使うもの
    }

    // サブメニュー　li
    > li a{
      display: block;
      // width: 100%;
      white-space: nowrap;    // 改行させない
      padding: 10px 10px 10px 25px;
      @include breakpoint ( width_1201 ){
        // display: ; // aタグの周りの余白…？
        // position: relative;
        // height: 70px;
        padding: 15px 60px 15px 15px;
      }

      &:hover {
        // 
        background: $color--background-color-hover-sub;
        @include breakpoint ( width_1201 ){
          color: $color--deep-blue;
          background: $color--white
        }
      }
    }
  }

  /* 2021.05.04 整頓 終了 */



  /*---------- 以下、20210504 コメントアウト部開始 ----------*/
  // .p-gnavi{
  //   top: 50px;          // 表示位置を指定するために使うもの
  //   position: absolute; // 絶対配置を指定する値
  //   width: 100%;//.p-gnavi__mainから引っ張ってきた
  //   // ul li a:link{
  //   //   color: $color--sentence-color;
  //   //   height: auto;
  //   //   padding: 10px;
  //   // }
  // }

  // /* アコーディオンメニュー全体のサイズ・位置 */
  // .p-gnavi__main {
  //   display: block;       // メインメニューを縦に並べる
  //   //position: relative;   // 
  //   //height: 50px;
  //   @include breakpoint (width_1201){
  //     display: flex;  // メインメニューは横並び
  //     //line-height: 70px;
  //   }
  //   // width: 100%;//.p-gnavi（親）に持って行った）
  //   //margin: 0 auto;
  //   // position: fixed;  // 画面の絶対配置になる値。ページではなく画面に表示されている領域を起点として配置できるようになる。

  //   // メニュー内全てに反映される項目
  //   a{
  //     color: $color--sentence-black;
  //     //padding: 10px;
  //   }

  //   //
  //   // > li{
  //   //   padding: 10px;
  //   // }
  // }
  
  // // /* クリック領域 */
  // // .p-gnavi__main {
  // //   display: flex;

  // /* ホバー領域 */
  // .p-gnavi__main-list {
  //   display: block;       // メインメニューを縦に並べる
  //   position: relative;                 /*相対位置への配置*/
  //   background-color: $color--white;
  //   //text-align: left;
  //   line-height: 50px;
  //   cursor: pointer;  /*リンクカーソル*/

  //   @include breakpoint (width_1201){
  //     line-height: 70px;
  //   }

  //   // > li{
  //   //   padding: 10px;
  //   // }

  //   // > a &:hover {
  //   //   background-color: $color--background-color-hover;
  //   // }

  //   /* メインメニューli */
  //   > a{
  //     display: block;     //有効にするとホバーは当たるけど、余白が増える
  //     font-weight: 700;               /*太字*/
  //     //padding: 10px;

  //     &:hover {
  //       background-color: $color--background-color-hover;
  //     }

  //     //プラスの横線
  //     &:before{
  //       content: "";
  //       position: absolute;
  //       top: 25px;
  //       right: 13px;
  //       width: 24px;
  //       height: 2px;
  //       background: $color--sentence-black;
  //       transform: translateY(-50%);
        
  //     }
  //     //プラス縦線
  //     &:after{
  //       content: "";
  //       position: absolute;
  //       top: 25px;
  //       right: 24px;
  //       width: 2px;
  //       height: 24px;
  //       background: $color--sentence-black;
  //       transform: translateY(-50%);
  //       transition: .3s;
  //     }
  //   }
  // }

  //   /* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */
  //   /* .p-gnavi__main-list.open > a:after { */
  //   .p-gnavi__main-list.open:after {
  //     top: 25%;
  //     opacity: 0;
  //     transform: rotate(90deg);
  //   }

  
  // /* ホバーしたら表示される領域（サブメニュー） */
  // .p-gnavi__sub {
  //   display: none;
  //   color: $color--sentence-black;
  //   font-weight: 400;
  //   background: $color--white;
  //   line-height: 50px;

  //   @include breakpoint ( width_1201 ){
  //       position: absolute;
  //   }

  //   > a{
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     padding: 10px 10px 10px 25px;
  //     font-weight: 400;
  //   }
  //   // 
  //   // > li {
  //   // }
      
  //   //text-align: left;
  //   &:hover {
  //     background-color: $color--background-color-hover;
  //   }
  //   //
  //   // padding: 2em 1em;
  //   // background-color: #ffccbc;
  //   // 
  //   // a{
  //   //   display: block;
  //   //   width: 100%;
  //   //   height: 100%;
  //   //   padding: 2em 1em;

  //   // }
  // }

  /*---------- 以上、20210504 コメントアウト部終了 ----------*/





  /* マンガでわかるボタン */
  p.c-button-first{
    width: auto;          /*幅*/
    height: auto;         /*高さ*/
    padding: 12px 18px;
    //margin: 0 10px 1em 5px;
    border-radius: 4px; // 四隅を丸く
    font-weight: 700;   // フォントの太さ

    background-color: $color--deep-blue;
    border-color: $color--deep-blue;

    line-height: 1; // 行間（行高）
    display: inline-block;

    border: solid 1px #c3c3c3;
    //margin: 1.3em 0 .5em;

    @include breakpoint( width_767 ){
      padding: 24px 37px;
    }
    
    a{
      font-size: 1.6rem;
      // background-color: $color--deep-blue;
      // border-color: $color--deep-blue;
      color: $color--white;
      @include breakpoint( width_767 ){
        //padding: 24px 37px;
        font-size: 1.8rem;
      }
    }
  }