  /* ハンバーガーメニューボタン */
  .c-btn{
    display: block;       /*ブロックレベルで表示*/
    width: 50px;          /*幅*/
    height: 50px;         /*高さ*/
    position: relative;   /*通常の位置を基準とした相対的な配置*/
    z-index: 3;           /*値が大きいものほど前面（手前）に表示される （0 が基準）*/
    border:none;          /*線なし*/
  }
  .bar{
    width: 23px;
    height: 2px;
    display: block;               /*ブロックレベルで表示*/
    position: absolute;           /*絶対位置*/
    left: 50%;      
    transform: translateX(-50%);  /*X方向の子要素の半分戻る*/
    background-color: $color--blue;
  }

  /* 三本線のマージン指定 */
  .bar_top{
    top: 15px;
  }
  .bar_mid{
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 15px;
  }

  /* ボタンをクローズ */
  .c-btn.close .bar_top{
    transform: translate(-50%, 10px) rotate(135deg);
    transition: transform .2s;
  }
  .c-btn.close .bar_mid{
    opacity: 0;
    transition: opacity .2s;
  }
  .c-btn.close .bar_bottom{
    transform: translate( -50%, -8px) rotate(-135deg);
    transition: transform .2s;
  }

  /*マンガでわかるボタン*/
  p.c-btn-first{
    width: auto;          /*幅*/
    height: auto;         /*高さ*/
    padding: 12px 18px;
    //margin: 0 10px 1em 5px;
    border-radius: 4px; // 四隅を丸く
    font-weight: 700;   // フォントの太さ

    background-color: $color--deep-blue;
    border-color: $color--deep-blue;

    line-height: 1; // 行間（行高）
    display: inline-block;

    border: solid 1px #c3c3c3;
    margin: 1.3em 0 .5em;
    
    a{
      font-size: 1.6rem;
      // background-color: $color--deep-blue;
      // border-color: $color--deep-blue;
      color: $color--white;
    }
  }

