    /* 3枚目の背景画像の設定 */
    .Top_Head{
      height: 300px;
      padding-bottom: 320px;
      background-position: center -25px;
      position: relative;
      overflow: hidden;
      background: transparent url(/Users/raimi/LocalRep/copy_RT/img/bg-hero3.png) no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
    }
    
    /* 最初の説明文全体のところ */
    .Top_Head_layer1{
      width: 100%;
      max-width: 100%;
      padding: 9px 0 13px;
      border-radius: 0;
      background-color: $color--white;
      text-align: center;
      //display: flex;
      justify-content: center;
      padding-top: 80px;
      background: transparent url(/Users/raimi/LocalRep/copy_RT/img/bg-hero1.png) no-repeat center center;
      z-index: 200;
      
      @include breakpoint( width_768 ){
        max-width: 530px;
        border-radius: 10px;
        padding: 43px 40px 19px;
      }

      /* 「はじめまして」の文章のところ */
      p{
        color: $color--sentence-black;
        font-size: 1.3rem;
        margin: .5em 0;
        font-weight: 700;   // フォントの太さ
        // 「はじめまして」上のRTロゴ
        img{
          display: none;
          @include breakpoint( width_768 ){
            display: block;
            height: auto;
          }
        }
      }
    }

    // 理念
    .Philosophy{
      background-color: $color--black;
      color: $color--white;
      padding: 4em 0;
      margin: 0 10px;
    }

    .Philosophy_entry{
      margin-bottom: 2.5em;
    }
    
    // アイコンとタイトル
    .Philosophy_title p{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: center;
      margin: .2em 0 0;
      font-weight: 700;
      font-size: 2.4rem;
    }

    // アイコン
    .Philosophy_icon{
      display: flex;
      // -webkit-box-pack: center;
      justify-content: center;  /* アイテムを中央に寄せる */
      align-items: center;
      width: 230px;
      height: 230px;
      margin: 0 auto;
      color: $color--black;
      border: solid 6px $color--black;
      border-radius: 50%;       /* サークル */
      background: $color--white;
      font-size: 100px;
    }

    // 説明文
    .Philosophy_sentence{
      text-align: center;
      margin: .5em 0 0;
      line-height: 1.7;
      font-weight: 700;
    }



/*  */